In [1]:
import numpy as np
import pandas as pd
import os
import datetime
import sys
import tqdm

In [5]:
mimic_path = '/ssd1/mimic3'
save_path = '../data'
mimic_extract_folder = '/home/sanghoon/drug/EHR/MIMIC_Extract/'  # use your MIMIC_Extract folder
mimic_folder = os.getcwd()

## preprocess_ mimic_extract

In [6]:
mimic_path = '/ssd1/mimic3'
using_feature = ['ICUSTAYS', 'D_ITEMS','ADMISSIONS']
data_dict ={}
for file in using_feature:
    temp_name = file +'.csv'
    
    data_dict[file.lower()] = pd.read_csv(mimic_path+'/'+temp_name, low_memory=False)
    
chart_lab_icu = pd.read_pickle(save_path+'/chart_lab_icu.pkl')

In [7]:


os.chdir(mimic_extract_folder)

from datapackage_io_util import (
    load_datapackage_schema,
    load_sanitized_df_from_csv,
    save_sanitized_df_to_csv,
    sanitize_df,
)

os.chdir(mimic_folder)

def get_variable_mapping(mimic_mapping_filename):
    # Read in the second level mapping of the itemids
    var_map = pd.read_csv(mimic_mapping_filename, index_col=None)
    var_map = var_map.loc[(var_map['LEVEL2'] != '') & (var_map['COUNT']>0)]
    var_map = var_map.loc[(var_map['STATUS'] == 'ready')]
    var_map['ITEMID'] = var_map['ITEMID'].astype(int)

    return var_map

def get_variable_ranges(range_filename):
    # Read in the second level mapping of the itemid, and take those values out
    columns = [ 'LEVEL2', 'OUTLIER LOW', 'VALID LOW', 'IMPUTE', 'VALID HIGH', 'OUTLIER HIGH' ]
    to_rename = dict(zip(columns, [ c.replace(' ', '_') for c in columns ]))
    to_rename['LEVEL2'] = 'VARIABLE'
    var_ranges = pd.read_csv(range_filename, index_col=None)
    var_ranges = var_ranges[columns]
    var_ranges.rename(columns=to_rename, inplace=True)
    var_ranges = var_ranges.drop_duplicates(subset='VARIABLE', keep='first')
    var_ranges['VARIABLE'] = var_ranges['VARIABLE'].str.lower()
    var_ranges.set_index('VARIABLE', inplace=True)
    var_ranges = var_ranges.loc[var_ranges.notnull().all(axis=1)]

    return var_ranges



mimic_mapping_filename = os.path.join(mimic_extract_folder+'resources', 'itemid_to_variable_map.csv')
range_filename = os.path.join(mimic_extract_folder+'resources', 'variable_ranges.csv')

var_map = get_variable_mapping(mimic_mapping_filename)
var_ranges = get_variable_ranges(range_filename)

In [8]:
static_filename = 'static_data.csv'
static_columns_filename = 'static_colnames.txt'

dynamic_filename = 'vitals_hourly_data.csv'
columns_filename = 'vitals_colnames.txt'
subjects_filename = 'subjects.npy'
times_filename = 'fenceposts.npy'
dynamic_hd5_filename = 'vitals_hourly_data.h5'
dynamic_hd5_filt_filename = 'all_hourly_data.h5'

codes_hd5_filename = 'C.h5'
notes_hd5_filename = 'notes.hdf' # N.h5
idx_hd5_filename = 'C_idx.h5'

outcome_filename = 'outcomes_hourly_data.csv'
outcome_hd5_filename = 'outcomes_hourly_data.h5'
outcome_columns_filename = 'outcomes_colnames.txt'

# SQL command params

ID_COLS = ['subject_id', 'hadm_id', 'icustay_id']
ITEM_COLS = ['itemid', 'label', 'LEVEL1', 'LEVEL2']

In [9]:
args={'resource_path':mimic_extract_folder+'resources',
     'out_path':save_path,
     'pop_size':0,
     'extract_pop':1,
      'min_age':15,
      'min_duration':12,
      'max_duration':2400
     }

def apply_variable_limits(df, var_ranges, var_names_index_col='LEVEL2'):
    idx_vals        = df.index.get_level_values(var_names_index_col)
    non_null_idx    = ~df.value.isnull()
    var_names       = set(idx_vals)
    var_range_names = set(var_ranges.index.values)

    for var_name in tqdm.tqdm(var_names):
        var_name_lower = var_name.lower()
        if var_name_lower not in var_range_names:
            print("No known ranges for %s" % var_name)
            continue

        outlier_low_val, outlier_high_val, valid_low_val, valid_high_val = [
            var_ranges.loc[var_name_lower, x] for x in ('OUTLIER_LOW','OUTLIER_HIGH','VALID_LOW','VALID_HIGH')
        ]

        running_idx = non_null_idx & (idx_vals == var_name)

        outlier_low_idx  = (df.value < outlier_low_val)
        outlier_high_idx = (df.value > outlier_high_val)
        valid_low_idx    = ~outlier_low_idx & (df.value < valid_low_val)
        valid_high_idx   = ~outlier_high_idx & (df.value > valid_high_val)

        var_outlier_idx   = running_idx & (outlier_low_idx | outlier_high_idx)
        var_valid_low_idx = running_idx & valid_low_idx
        var_valid_high_idx = running_idx & valid_high_idx

        df.loc[var_outlier_idx, 'value'] = np.nan
        df.loc[var_valid_low_idx, 'value'] = valid_low_val
        df.loc[var_valid_high_idx, 'value'] = valid_high_val

        n_outlier = sum(var_outlier_idx)
        n_valid_low = sum(var_valid_low_idx)
        n_valid_high = sum(var_valid_high_idx)
        if n_outlier + n_valid_low + n_valid_high > 0:
            print(
                "%s had %d / %d rows cleaned:\n"
                "  %d rows were strict outliers, set to np.nan\n"
                "  %d rows were low valid outliers, set to %.2f\n"
                "  %d rows were high valid outliers, set to %.2f\n"
                "" % (
                    var_name,
                    n_outlier + n_valid_low + n_valid_high, sum(running_idx),
                    n_outlier, n_valid_low, valid_low_val, n_valid_high, valid_high_val
                )
            )

    return df

UNIT_CONVERSIONS = [
    ('weight',                   'oz',  None,             lambda x: x/16.*0.45359237),
    ('weight',                   'lbs', None,             lambda x: x*0.45359237),
    ('fraction inspired oxygen', None,  lambda x: x > 1,  lambda x: x/100.),
    ('oxygen saturation',        None,  lambda x: x <= 1, lambda x: x*100.),
    ('temperature',              'f',   lambda x: x > 79, lambda x: (x - 32) * 5./9),
    ('height',                   'in',  None,             lambda x: x*2.54),
]
def get_values_by_name_from_df_column_or_index(data_df, colname):
    """ Easily get values for named field, whether a column or an index

    Returns
    -------
    values : 1D array
    """
    try:
        values = data_df[colname]
    except KeyError as e:
        if colname in data_df.index.names:
            values = data_df.index.get_level_values(colname)
        else:
            raise e
    return values

def standardize_units(X, name_col='itemid', unit_col='valueuom', value_col='value', inplace=True):
    if not inplace: X = X.copy()
    name_col_vals = get_values_by_name_from_df_column_or_index(X, name_col)
    unit_col_vals = get_values_by_name_from_df_column_or_index(X, unit_col)

    try:
        name_col_vals = name_col_vals.str
        unit_col_vals = unit_col_vals.str
    except:
        print("Can't call *.str")
        print(name_col_vals)
        print(unit_col_vals)
        raise

    #name_filter, unit_filter = [
    #    (lambda n: col.contains(n, case=False, na=False)) for col in (name_col_vals, unit_col_vals)
    #]
    # TODO(mmd): Why does the above not work, but the below does?
    name_filter = lambda n: name_col_vals.contains(n, case=False, na=False)
    unit_filter = lambda n: unit_col_vals.contains(n, case=False, na=False)

    for name, unit, rng_check_fn, convert_fn in tqdm.tqdm(UNIT_CONVERSIONS):
        name_filter_idx = name_filter(name)
        needs_conversion_filter_idx = name_filter_idx & False

        if unit is not None: needs_conversion_filter_idx |= name_filter(unit) | unit_filter(unit)
        if rng_check_fn is not None: needs_conversion_filter_idx |= rng_check_fn(X[value_col])

        idx = name_filter_idx & needs_conversion_filter_idx

        X.loc[idx, value_col] = convert_fn(X[value_col][idx])

    return X

In [10]:
args['out_path']

'../data'

In [11]:
static_data_schema = load_datapackage_schema(
        os.path.join(args['resource_path'], 'static_data_spec.json'))
outcome_data_schema = load_datapackage_schema(
    os.path.join(args['resource_path'], 'outcome_data_spec.json'))

if not os.path.isdir(args['out_path']):
    print('ERROR: OUTPATH %s DOES NOT EXIST' % args['out_path'])
    sys.exit()
else:
    outPath = args['out_path']


# Modify the filenames
if args['pop_size'] > 0:
    pop_size = str(args['pop_size'])

    static_filename = splitext(static_filename)[0] + '_' + pop_size + splitext(static_filename)[1]
    dynamic_filename = splitext(dynamic_filename)[0] + '_' + pop_size + splitext(dynamic_filename)[1]
    #columns_filename = splitext(columns_filename)[0] + '_' + pop_size + splitext(columns_filename)[1]
    subjects_filename = splitext(subjects_filename)[0] + '_' + pop_size + splitext(subjects_filename)[1]
    times_filename = splitext(times_filename)[0] + '_' + pop_size + splitext(times_filename)[1]
    dynamic_hd5_filename = splitext(dynamic_hd5_filename)[0] + '_' + pop_size + splitext(dynamic_hd5_filename)[1]
    outcome_filename = splitext(outcome_filename)[0] + '_' + pop_size + splitext(outcome_filename)[1]
    dynamic_hd5_filt_filename = splitext(dynamic_hd5_filt_filename)[0] + '_' + pop_size + splitext(dynamic_hd5_filt_filename)[1]
    outcome_hd5_filename = splitext(outcome_hd5_filename)[0] + '_' + pop_size + splitext(outcome_hd5_filename)[1]
    #outcome_columns_filename = splitext(outcome_columns_filename)[0] + '_' + pop_size + splitext(outcome_columns_filename)[1]
    codes_hd5_filename = splitext(codes_hd5_filename)[0] + '_' + pop_size + splitext(codes_hd5_filename)[1]
    notes_hd5_filename = splitext(notes_hd5_filename)[0] + '_' + pop_size + splitext(notes_hd5_filename)[1]
    idx_hd5_filename = splitext(idx_hd5_filename)[0] + '_' + pop_size + splitext(idx_hd5_filename)[1]



#############
# Population extraction

data = None
if (args['extract_pop'] == 0 | (args['extract_pop'] == 1) ) & os.path.isfile(os.path.join(outPath, static_filename)):
    print("Reloading data from %s" % os.path.join(outPath, static_filename))
    data = pd.read_csv(os.path.join(outPath, static_filename))
    data = sanitize_df(data, static_data_schema)
elif (args['extract_pop'] == 1 & (not os.path.isfile(os.path.join(outPath, static_filename)))) | (args['extract_pop'] == 2):
    print("Building data from scratch.")
    pop_size_string = ''
    if args['pop_size'] > 0:
        pop_size_string = 'LIMIT ' + str(args['pop_size'])

    min_age_string = str(args['min_age'])
    min_dur_string = str(args['min_duration'])
    max_dur_string = str(args['max_duration'])
    min_day_string = str(float(args['min_duration'])/24)

    template_vars = dict(
        limit=pop_size_string, min_age=min_age_string, min_dur=min_dur_string, max_dur=max_dur_string,
        min_day=min_day_string
    )

Building data from scratch.

In [12]:
var_map = var_map[['LEVEL2', 'ITEMID', 'LEVEL1']].rename({'LEVEL2': 'LEVEL2', 'LEVEL1': 'LEVEL1', 'ITEMID': 'itemid'}, axis=1).set_index('itemid')
chart_lab_icu.columns = list(map(lambda x :x.lower(), chart_lab_icu.columns))
chart_lab_icu['value']= pd.to_numeric(chart_lab_icu['value'],'coerce')
chart_lab_icu.astype({k: int for k in ID_COLS })

to_hours = lambda x: max(0, x.days*24 + x.seconds // 3600)

chart_lab_icu = chart_lab_icu.set_index('icustay_id')
chart_lab_icu['hours_in'] = (chart_lab_icu['charttime'] - chart_lab_icu['intime']).apply(to_hours)

In [13]:
chart_lab_icu.drop(columns=['charttime', 'intime'], inplace=True)
chart_lab_icu.set_index('itemid', append=True, inplace=True)


items_d= data_dict['d_items']
items_d.columns = list(map(lambda x :x.lower(), items_d.columns))
items_d=items_d[['itemid','label','dbsource','linksto','category','unitname']]

In [14]:
items_d=items_d.set_index('itemid')
chart_lab_icu = chart_lab_icu.join(var_map).join(items_d).set_index(['label', 'LEVEL1', 'LEVEL2'], append=True)

In [15]:
standardize_units(chart_lab_icu, name_col='LEVEL1', inplace=True)

100%|██████████| 6/6 [15:05<00:00, 150.93s/it]

                                                                                          subject_id  \
icustay_id itemid label                LEVEL1                   LEVEL2
241249.0   223834 O2 Flow              NaN                      NaN                               36
           223835 Inspired O2 Fraction Fraction inspired oxygen Fraction inspired oxygen          36
           224328 PCA dose             NaN                      NaN                               36
           224329 PCA lockout (min)    NaN                      NaN                               36
           224330 PCA 1 hour limit     NaN                      NaN                               36
...                                                                                              ...
233856.0   50882  NaN                  Bicarbonate              Bicarbonate                    96443
           50885  NaN                  Bilirubin (total)        Bilirubin                      96443
           50902  NaN                  Chloride                 Chloride                       96443
           50911  NaN                  NaN                      NaN                            96443
           50912  NaN                  Creatinine               Creatinine                     96443

                                                                                           hadm_id  \
icustay_id itemid label                LEVEL1                   LEVEL2
241249.0   223834 O2 Flow              NaN                      NaN                       165660.0
           223835 Inspired O2 Fraction Fraction inspired oxygen Fraction inspired oxygen  165660.0
           224328 PCA dose             NaN                      NaN                       165660.0
           224329 PCA lockout (min)    NaN                      NaN                       165660.0
           224330 PCA 1 hour limit     NaN                      NaN                       165660.0
...                                                                                            ...
233856.0   50882  NaN                  Bicarbonate              Bicarbonate               103219.0
           50885  NaN                  Bilirubin (total)        Bilirubin                 103219.0
           50902  NaN                  Chloride                 Chloride                  103219.0
           50911  NaN                  NaN                      NaN                       103219.0
           50912  NaN                  Creatinine               Creatinine                103219.0

                                                                                          value  \
icustay_id itemid label                LEVEL1                   LEVEL2
241249.0   223834 O2 Flow              NaN                      NaN                       15.00
           223835 Inspired O2 Fraction Fraction inspired oxygen Fraction inspired oxygen   1.00
           224328 PCA dose             NaN                      NaN                        0.37
           224329 PCA lockout (min)    NaN                      NaN                        6.00
           224330 PCA 1 hour limit     NaN                      NaN                        2.50
...                                                                                         ...
233856.0   50882  NaN                  Bicarbonate              Bicarbonate               26.00
           50885  NaN                  Bilirubin (total)        Bilirubin                  2.10
           50902  NaN                  Chloride                 Chloride                  97.00
           50911  NaN                  NaN                      NaN                        2.00
           50912  NaN                  Creatinine               Creatinine                 1.60

                                                                                         valueuom  \
icustay_id itemid label                LEVEL1                   LEVEL2
241249.0   223834 O2 Flow              NaN                      NaN                         L/min
           223835 Inspired O2 Fraction Fraction inspired oxygen Fraction inspired oxygen      NaN
           224328 PCA dose             NaN                      NaN                           NaN
           224329 PCA lockout (min)    NaN                      NaN                           min
           224330 PCA 1 hour limit     NaN                      NaN                           NaN
...                                                                                           ...
233856.0   50882  NaN                  Bicarbonate              Bicarbonate                 mEq/L
           50885  NaN                  Bilirubin (total)        Bilirubin                   mg/dL
           50902  NaN                  Chloride                 Chloride                    mEq/L
           50911  NaN                  NaN                      NaN                         ng/mL
           50912  NaN                  Creatinine               Creatinine                  mg/dL

                                                                                                     outtime  \
icustay_id itemid label                LEVEL1                   LEVEL2
241249.0   223834 O2 Flow              NaN                      NaN                      2134-05-16 15:14:20
           223835 Inspired O2 Fraction Fraction inspired oxygen Fraction inspired oxygen 2134-05-16 15:14:20
           224328 PCA dose             NaN                      NaN                      2134-05-16 15:14:20
           224329 PCA lockout (min)    NaN                      NaN                      2134-05-16 15:14:20
           224330 PCA 1 hour limit     NaN                      NaN                      2134-05-16 15:14:20
...                                                                                                      ...
233856.0   50882  NaN                  Bicarbonate              Bicarbonate              2110-01-05 17:40:34
           50885  NaN                  Bilirubin (total)        Bilirubin                2110-01-05 17:40:34
           50902  NaN                  Chloride                 Chloride                 2110-01-05 17:40:34
           50911  NaN                  NaN                      NaN                      2110-01-05 17:40:34
           50912  NaN                  Creatinine               Creatinine               2110-01-05 17:40:34

                                                                                              los  \
icustay_id itemid label                LEVEL1                   LEVEL2
241249.0   223834 O2 Flow              NaN                      NaN                        4.3483
           223835 Inspired O2 Fraction Fraction inspired oxygen Fraction inspired oxygen   4.3483
           224328 PCA dose             NaN                      NaN                        4.3483
           224329 PCA lockout (min)    NaN                      NaN                        4.3483
           224330 PCA 1 hour limit     NaN                      NaN                        4.3483
...                                                                                           ...
233856.0   50882  NaN                  Bicarbonate              Bicarbonate               16.3241
           50885  NaN                  Bilirubin (total)        Bilirubin                 16.3241
           50902  NaN                  Chloride                 Chloride                  16.3241
           50911  NaN                  NaN                      NaN                       16.3241
           50912  NaN                  Creatinine               Creatinine                16.3241

                                                                                          hours_in  \
icustay_id itemid label                LEVEL1                   LEVEL2
241249.0   223834 O2 Flow              NaN                      NaN                              5
           223835 Inspired O2 Fraction Fraction inspired oxygen Fraction inspired oxygen         5
           224328 PCA dose             NaN                      NaN                              5
           224329 PCA lockout (min)    NaN                      NaN                              5
           224330 PCA 1 hour limit     NaN                      NaN                              5
...                                                                                            ...
233856.0   50882  NaN                  Bicarbonate              Bicarbonate                    231
           50885  NaN                  Bilirubin (total)        Bilirubin                      231
           50902  NaN                  Chloride                 Chloride                       231
           50911  NaN                  NaN                      NaN                            231
           50912  NaN                  Creatinine               Creatinine                     231

                                                                                            dbsource  \
icustay_id itemid label                LEVEL1                   LEVEL2
241249.0   223834 O2 Flow              NaN                      NaN                       metavision
           223835 Inspired O2 Fraction Fraction inspired oxygen Fraction inspired oxygen  metavision
           224328 PCA dose             NaN                      NaN                       metavision
           224329 PCA lockout (min)    NaN                      NaN                       metavision
           224330 PCA 1 hour limit     NaN                      NaN                       metavision
...                                                                                              ...
233856.0   50882  NaN                  Bicarbonate              Bicarbonate                      NaN
           50885  NaN                  Bilirubin (total)        Bilirubin                        NaN
           50902  NaN                  Chloride                 Chloride                         NaN
           50911  NaN                  NaN                      NaN                              NaN
           50912  NaN                  Creatinine               Creatinine                       NaN

                                                                                              linksto  \
icustay_id itemid label                LEVEL1                   LEVEL2
241249.0   223834 O2 Flow              NaN                      NaN                       chartevents
           223835 Inspired O2 Fraction Fraction inspired oxygen Fraction inspired oxygen  chartevents
           224328 PCA dose             NaN                      NaN                       chartevents
           224329 PCA lockout (min)    NaN                      NaN                       chartevents
           224330 PCA 1 hour limit     NaN                      NaN                       chartevents
...                                                                                               ...
233856.0   50882  NaN                  Bicarbonate              Bicarbonate                       NaN
           50885  NaN                  Bilirubin (total)        Bilirubin                         NaN
           50902  NaN                  Chloride                 Chloride                          NaN
           50911  NaN                  NaN                      NaN                               NaN
           50912  NaN                  Creatinine               Creatinine                        NaN

                                                                                               category  \
icustay_id itemid label                LEVEL1                   LEVEL2
241249.0   223834 O2 Flow              NaN                      NaN                         Respiratory
           223835 Inspired O2 Fraction Fraction inspired oxygen Fraction inspired oxygen    Respiratory
           224328 PCA dose             NaN                      NaN                       Pain/Sedation
           224329 PCA lockout (min)    NaN                      NaN                       Pain/Sedation
           224330 PCA 1 hour limit     NaN                      NaN                       Pain/Sedation
...                                                                                                 ...
233856.0   50882  NaN                  Bicarbonate              Bicarbonate                         NaN
           50885  NaN                  Bilirubin (total)        Bilirubin                           NaN
           50902  NaN                  Chloride                 Chloride                            NaN
           50911  NaN                  NaN                      NaN                                 NaN
           50912  NaN                  Creatinine               Creatinine                          NaN

                                                                                         unitname
icustay_id itemid label                LEVEL1                   LEVEL2
241249.0   223834 O2 Flow              NaN                      NaN                         L/min
           223835 Inspired O2 Fraction Fraction inspired oxygen Fraction inspired oxygen     None
           224328 PCA dose             NaN                      NaN                          None
           224329 PCA lockout (min)    NaN                      NaN                           min
           224330 PCA 1 hour limit     NaN                      NaN                          None
...                                                                                           ...
233856.0   50882  NaN                  Bicarbonate              Bicarbonate                   NaN
           50885  NaN                  Bilirubin (total)        Bilirubin                     NaN
           50902  NaN                  Chloride                 Chloride                      NaN
           50911  NaN                  NaN                      NaN                           NaN
           50912  NaN                  Creatinine               Creatinine                    NaN

[158482934 rows x 11 columns]

In [16]:
chart_lab_icu_drop_level2na = chart_lab_icu[~chart_lab_icu.index.get_level_values('LEVEL2').isna()]

In [17]:
chart_lab_icu_lmits = apply_variable_limits(chart_lab_icu_drop_level2na, var_ranges, 'LEVEL2')

  0%|          | 0/104 [00:00<?, ?it/s]

No known ranges for Prothrombin time INR
No known ranges for Cholesterol HDL

/home/sanghoon/.conda/envs/rdkit_env/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
  3%|▎         | 3/104 [00:37<20:56, 12.44s/it]

Temperature had 2037 / 3367518 rows cleaned:
  1953 rows were strict outliers, set to np.nan
  83 rows were low valid outliers, set to 26.00
  1 rows were high valid outliers, set to 45.00

No known ranges for Creatinine ascites

  5%|▍         | 5/104 [01:17<26:29, 16.05s/it]

Alanine aminotransferase had 312 / 160486 rows cleaned:
  102 rows were strict outliers, set to np.nan
  164 rows were low valid outliers, set to 2.00
  46 rows were high valid outliers, set to 10000.00

  6%|▌         | 6/104 [01:52<34:28, 21.11s/it]

Fraction inspired oxygen had 1456 / 1463615 rows cleaned:
  1433 rows were strict outliers, set to np.nan
  23 rows were low valid outliers, set to 0.21
  0 rows were high valid outliers, set to 1.00

  7%|▋         | 7/104 [02:27<39:59, 24.74s/it]

Weight had 100 / 1444588 rows cleaned:
  100 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  0 rows were high valid outliers, set to 250.00

  8%|▊         | 8/104 [03:01<43:46, 27.36s/it]

Hemoglobin had 12 / 727790 rows cleaned:
  10 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  2 rows were high valid outliers, set to 25.00

  9%|▊         | 9/104 [03:27<42:58, 27.14s/it]

No known ranges for Chloride urine
No known ranges for Creatinine urine

 12%|█▏        | 12/104 [04:01<28:14, 18.42s/it]

Positive end-expiratory pressure had 375 / 129124 rows cleaned:
  114 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  261 rows were high valid outliers, set to 25.00

 12%|█▎        | 13/104 [04:35<32:53, 21.68s/it]

Partial pressure of carbon dioxide had 11 / 871928 rows cleaned:
  5 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  6 rows were high valid outliers, set to 200.00

No known ranges for Lymphocytes ascites

 14%|█▍        | 15/104 [05:10<29:41, 20.02s/it]

Systolic blood pressure had 31 / 6303803 rows cleaned:
  31 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  0 rows were high valid outliers, set to 375.00

No known ranges for Tidal Volume Observed
No known ranges for Basophils
No known ranges for Mean corpuscular hemoglobin

 18%|█▊        | 19/104 [05:44<19:58, 14.10s/it]

Creatinine had 318 / 848014 rows cleaned:
  251 rows were strict outliers, set to np.nan
  66 rows were low valid outliers, set to 0.10
  1 rows were high valid outliers, set to 60.00

 19%|█▉        | 20/104 [06:20<24:35, 17.57s/it]

Peak inspiratory pressure had 143397 / 678490 rows cleaned:
  15721 rows were strict outliers, set to np.nan
  118531 rows were low valid outliers, set to 14.00
  9145 rows were high valid outliers, set to 38.00

No known ranges for Neutrophils
No known ranges for Albumin urine
No known ranges for Respiratory rate Set
No known ranges for Fibrinogen

 24%|██▍       | 25/104 [06:54<15:40, 11.91s/it]

Height had 16 / 24010 rows cleaned:
  10 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  6 rows were high valid outliers, set to 240.00

 25%|██▌       | 26/104 [07:29<19:16, 14.83s/it]

Asparate aminotransferase had 143 / 160355 rows cleaned:
  25 rows were strict outliers, set to np.nan
  106 rows were low valid outliers, set to 6.00
  12 rows were high valid outliers, set to 20000.00

No known ranges for pH urine

 27%|██▋       | 28/104 [08:03<19:37, 15.50s/it]

Oxygen saturation had 76 / 7946832 rows cleaned:
  59 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  17 rows were high valid outliers, set to 100.00

No known ranges for Eosinophils
No known ranges for Post Void Residual
No known ranges for Red blood cell count ascites
No known ranges for Positive end-expiratory pressure Set
No known ranges for Mean corpuscular volume
No known ranges for Lactate dehydrogenase pleural

 34%|███▎      | 35/104 [08:38<10:51,  9.45s/it]

Sodium had 44 / 998530 rows cleaned:
  5 rows were strict outliers, set to np.nan
  37 rows were low valid outliers, set to 50.00
  2 rows were high valid outliers, set to 225.00

No known ranges for Prothrombin time PT
No known ranges for Red blood cell count CSF
No known ranges for Albumin ascites

 38%|███▊      | 39/104 [09:13<09:58,  9.21s/it]

Magnesium had 83 / 826716 rows cleaned:
  72 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  11 rows were high valid outliers, set to 20.00

 38%|███▊      | 40/104 [09:47<12:34, 11.78s/it]

White blood cell count had 4 / 932945 rows cleaned:
  4 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  0 rows were high valid outliers, set to 1000.00

 39%|███▉      | 41/104 [10:21<15:17, 14.57s/it]

Partial pressure of oxygen had 238 / 261446 rows cleaned:
  0 rows were strict outliers, set to np.nan
  238 rows were low valid outliers, set to 32.00
  0 rows were high valid outliers, set to 700.00

No known ranges for Total Protein
No known ranges for Total Protein Urine

 42%|████▏     | 44/104 [10:55<13:26, 13.44s/it]

Troponin-I had 8 / 5767 rows cleaned:
  0 rows were strict outliers, set to np.nan
  1 rows were low valid outliers, set to 0.01
  7 rows were high valid outliers, set to 49.60

 43%|████▎     | 45/104 [11:30<16:13, 16.50s/it]

Potassium had 86 / 1164316 rows cleaned:
  57 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  29 rows were high valid outliers, set to 12.00

No known ranges for Monocytes CSL

 45%|████▌     | 47/104 [12:04<15:52, 16.71s/it]

Albumin had 19 / 131516 rows cleaned:
  1 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.60
  18 rows were high valid outliers, set to 6.00

No known ranges for Central Venous Pressure
No known ranges for Calcium ionized
No known ranges for Lymphocytes percent
No known ranges for Pulmonary Capillary Wedge Pressure
No known ranges for Pulmonary Artery Pressure systolic
No known ranges for Creatinine pleural

 52%|█████▏    | 54/104 [12:39<08:05,  9.71s/it]

Troponin-T had 88 / 60875 rows cleaned:
  24 rows were strict outliers, set to np.nan
  5 rows were low valid outliers, set to 0.01
  59 rows were high valid outliers, set to 20.85

 53%|█████▎    | 55/104 [13:13<10:06, 12.39s/it]

Cholesterol had 18 / 9429 rows cleaned:
  5 rows were strict outliers, set to np.nan
  11 rows were low valid outliers, set to 32.00
  2 rows were high valid outliers, set to 600.00

No known ranges for Albumin pleural
No known ranges for Cardiac Output fick
No known ranges for Phosphorous
No known ranges for CO2 (ETCO2, PCO2, etc.)
No known ranges for Cardiac Index
No known ranges for Lymphocytes atypical

 60%|█████▉    | 62/104 [13:48<05:59,  8.55s/it]

Bicarbonate had 8 / 525206 rows cleaned:
  7 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  1 rows were high valid outliers, set to 60.00

 61%|██████    | 63/104 [14:23<07:32, 11.04s/it]

Bilirubin had 1020 / 307546 rows cleaned:
  63 rows were strict outliers, set to np.nan
  876 rows were low valid outliers, set to 0.10
  81 rows were high valid outliers, set to 60.00

No known ranges for Potassium serum

 62%|██████▎   | 65/104 [14:57<08:00, 12.33s/it]

Chloride had 38 / 919783 rows cleaned:
  3 rows were strict outliers, set to np.nan
  32 rows were low valid outliers, set to 50.00
  3 rows were high valid outliers, set to 175.00

 63%|██████▎   | 66/104 [15:31<09:40, 15.28s/it]

Partial thromboplastin time had 578 / 601993 rows cleaned:
  14 rows were strict outliers, set to np.nan
  564 rows were low valid outliers, set to 18.80
  0 rows were high valid outliers, set to 150.00

No known ranges for Red blood cell count
No known ranges for Red blood cell count pleural
No known ranges for Lymphocytes atypical CSL

 67%|██████▋   | 70/104 [16:05<07:00, 12.36s/it]

Heart Rate had 13 / 7877680 rows cleaned:
  13 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  0 rows were high valid outliers, set to 350.00

 68%|██████▊   | 71/104 [16:39<08:21, 15.20s/it]

Lactate had 72 / 161807 rows cleaned:
  1 rows were strict outliers, set to np.nan
  69 rows were low valid outliers, set to 0.40
  2 rows were high valid outliers, set to 30.00

No known ranges for CO2

 70%|███████   | 73/104 [17:13<08:07, 15.74s/it]

Platelets had 5 / 666006 rows cleaned:
  3 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  2 rows were high valid outliers, set to 2000.00

 71%|███████   | 74/104 [17:47<09:23, 18.78s/it]

Respiratory rate had 78 / 9265343 rows cleaned:
  72 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  6 rows were high valid outliers, set to 300.00

 72%|███████▏  | 75/104 [18:22<10:33, 21.84s/it]

Hematocrit had 13 / 920980 rows cleaned:
  12 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  1 rows were high valid outliers, set to 75.00

 73%|███████▎  | 76/104 [18:56<11:25, 24.48s/it]

Anion gap had 447 / 506123 rows cleaned:
  24 rows were strict outliers, set to np.nan
  393 rows were low valid outliers, set to 5.00
  30 rows were high valid outliers, set to 50.00

No known ranges for Venous PvO2
No known ranges for Fraction inspired oxygen Set

 76%|███████▌  | 79/104 [19:32<07:40, 18.43s/it]

Glucose had 1663 / 2063957 rows cleaned:
  23 rows were strict outliers, set to np.nan
  1640 rows were low valid outliers, set to 33.00
  0 rows were high valid outliers, set to 2000.00

No known ranges for Lymphocytes body fluid
No known ranges for Tidal Volume Set
No known ranges for Systemic Vascular Resistance

 80%|███████▉  | 83/104 [20:09<04:54, 14.04s/it]

Diastolic blood pressure had 256 / 6300007 rows cleaned:
  256 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  0 rows were high valid outliers, set to 375.00

No known ranges for Plateau Pressure
No known ranges for Tidal Volume Spontaneous
No known ranges for Monocytes
No known ranges for Lactic acid
No known ranges for Mean corpuscular hemoglobin concentration
No known ranges for Red blood cell count urine
No known ranges for Cardiac Output Thermodilution

 88%|████████▊ | 91/104 [20:43<01:49,  8.44s/it]

Lactate dehydrogenase had 18 / 46758 rows cleaned:
  7 rows were strict outliers, set to np.nan
  10 rows were low valid outliers, set to 54.00
  1 rows were high valid outliers, set to 33000.00

 88%|████████▊ | 92/104 [21:19<02:11, 10.94s/it]

Phosphate had 76 / 296663 rows cleaned:
  12 rows were strict outliers, set to np.nan
  61 rows were low valid outliers, set to 0.50
  3 rows were high valid outliers, set to 20.00

No known ranges for Lymphocytes

 90%|█████████ | 94/104 [21:55<02:05, 12.52s/it]

Alkaline phosphate had 215 / 158363 rows cleaned:
  15 rows were strict outliers, set to np.nan
  193 rows were low valid outliers, set to 20.00
  7 rows were high valid outliers, set to 3625.00

No known ranges for Cholesterol LDL

 92%|█████████▏| 96/104 [22:38<01:56, 14.56s/it]

Mean blood pressure had 5836 / 6298964 rows cleaned:
  1304 rows were strict outliers, set to np.nan
  4030 rows were low valid outliers, set to 14.00
  502 rows were high valid outliers, set to 330.00

 93%|█████████▎| 97/104 [23:14<02:03, 17.59s/it]

pH had 227 / 1221205 rows cleaned:
  215 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 6.30
  12 rows were high valid outliers, set to 8.40

No known ranges for Calcium urine
No known ranges for Lymphocytes pleural
No known ranges for Creatinine body fluid

100%|██████████| 104/104 [23:50<00:00, 13.75s/it]

Blood urea nitrogen had 36 / 846919 rows cleaned:
  3 rows were strict outliers, set to np.nan
  0 rows were low valid outliers, set to 0.00
  33 rows were high valid outliers, set to 250.00

No known ranges for Pulmonary Artery Pressure mean
No known ranges for Calcium
No known ranges for White blood cell count urine

In [19]:
t=chart_lab_icu_lmits[chart_lab_icu_lmits['hours_in']<=23] # check only 24 hours in lab items
t=t[['subject_id','hadm_id','value','hours_in']]

In [20]:
group_item_cols = ['LEVEL2']
t_groups = t.groupby(ID_COLS+group_item_cols+['hours_in']).agg(['mean','std','count'])
t_groups.columns = t_groups.columns.droplevel(0)
t_groups.columns.names = ['Aggregation Function']
t_groups=t_groups.unstack(level='LEVEL2')

In [21]:
t_groups.columns = t_groups.columns.reorder_levels(order=group_item_cols + ['Aggregation Function'])

t_groups=t_groups.sort_index(axis=0).sort_index(axis=1)
idx = pd.IndexSlice
t_groups.loc[:, idx[:, 'count']] = t_groups.loc[:, idx[:, 'count']].fillna(0)


print("Shape of X : ", t_groups.shape) # in 24 hours

Shape of X :  (1265946, 312)

In [23]:
temp_check= t_groups.reset_index()

In [24]:
len(temp_check['subject_id'].unique())

46212

In [25]:
t_groups.to_hdf(save_path+'/vitals_24hourly_data_sh.h5','X')

/home/sanghoon/.local/lib/python3.7/site-packages/tables/attributeset.py:459: NaturalNameWarning: object name is not a valid Python identifier: 'axis0_nameAggregation Function'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  check_attribute_name(name)
/home/sanghoon/.local/lib/python3.7/site-packages/tables/attributeset.py:459: NaturalNameWarning: object name is not a valid Python identifier: 'block0_items_nameAggregation Function'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  check_attribute_name(name)

# make label

In [26]:
del data_dict['icustays']['ROW_ID']
del data_dict['admissions']['ROW_ID']
concat_label=data_dict['icustays'].merge(data_dict['admissions'], 'left', on=['HADM_ID','SUBJECT_ID'])
concat_label['INTIME'] = pd.to_datetime(concat_label['INTIME'])
concat_label['OUTTIME'] = pd.to_datetime(concat_label['OUTTIME'])
concat_label['ADMITTIME'] = pd.to_datetime(concat_label['ADMITTIME'])
concat_label['DISCHTIME'] = pd.to_datetime(concat_label['DISCHTIME'])
concat_label['DEATHTIME'] = pd.to_datetime(concat_label['DEATHTIME'])

concat_label['mort_icu']= list(map(lambda x : 1 if x[0]<=x[2]<=x[1] else 0,concat_label[['INTIME','OUTTIME','DEATHTIME']].values))
concat_label['mort_hosp']= list(map(lambda x : 1 if x[0]<=x[2]<=x[1] else 0,concat_label[['ADMITTIME','DISCHTIME','DEATHTIME']].values))

concat_label.columns = list(map(lambda x : x.lower(), concat_label.columns))
concat_label['max_hours']=(concat_label['outtime']-concat_label['intime']).apply(to_hours)

In [27]:
idx_have_ts=temp_check.icustay_id.unique()

In [28]:
concat_label_ts=concat_label[concat_label['icustay_id'].isin(idx_have_ts)]

In [29]:
concat_label_ts[['subject_id','hadm_id','icustay_id','max_hours','mort_icu','mort_hosp','los']].to_csv(save_path + '/label_have_ts_los.csv')

# make note

In [31]:
DATAPATH = mimic_path 
noteevents_df = pd.read_csv(os.path.join(DATAPATH, "NOTEEVENTS.csv"))

/home/sanghoon/.conda/envs/rdkit_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [33]:
noteevents_df.groupby(noteevents_df.CATEGORY).agg(['count'])
note_categories = noteevents_df.groupby(noteevents_df.CATEGORY).agg(['count']).index
selected_note_types = []
for each_cat in tqdm.tqdm(list(note_categories)):
    if each_cat != 'Discharge summary':
        selected_note_types.append(each_cat)
        
sub_notes = noteevents_df[noteevents_df.CATEGORY.isin(selected_note_types)]
sub_notes.shape

100%|██████████| 15/15 [00:00<00:00, 222312.93it/s]

(2023528, 11)

In [34]:
missing_chardate_index = []
for each_note in tqdm.tqdm(sub_notes.itertuples()):
    if isinstance(each_note.CHARTTIME, str):
        continue
    if np.isnan(each_note.CHARTTIME):
        missing_chardate_index.append(each_note.Index)
print ("{} of notes does not charttime.".format(len(missing_chardate_index)))
print(sub_notes.shape)

2023528it [00:04, 453457.22it/s]

256914 of notes does not charttime.
(2023528, 11)

In [35]:
sub_notes.drop(missing_chardate_index, inplace=True )
print(sub_notes.shape)

(1766614, 11)

/home/sanghoon/.conda/envs/rdkit_env/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [36]:
sub_notes_have_ts=sub_notes[sub_notes.SUBJECT_ID.isin(concat_label_ts.subject_id.unique())]
sub_notes_have_ts.shape , len(sub_notes_have_ts.SUBJECT_ID.unique())

((1764915, 11), 44845)

In [37]:
have_notes_ids=sub_notes_have_ts.SUBJECT_ID.unique()

In [38]:
sub_notes_have_ts.to_csv(save_path+'/sub_note.csv',index=False)